body {
    background-color: #F2E9EB;
}

.comment-box {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #F23064;
}

.area {
    width: 400px;
    margin: 10px 0;
    border: 1px solid #8C2E2E;
    border-radius: 10px;
    padding: 1em;
}

.name {
    padding: 1em;
    border: 1px solid #8C2E2E;
    border-color: #8C2E2E;
    border-radius: 10px;
    width: 400px;
    box-shadow: black;
}

.submit {
    width: 425px;
    padding: 1em;
    margin: 10px 0;
    background-color: #F23064;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid #8C2E2E;
    border-radius: 10px;
}

.select {
    text-align: center;
}